.login__modal {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;

  .login__title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .login__input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;

    &:focus {
      border-color: #007bff;
    }
  }

  .login__button {
    padding: 10px;
    font-size: 1rem;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.button__autorization {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: transparent;

  .header__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
