.header {
  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    // max-height: 200px;
    max-width: 1580px;
    margin: 0 auto;
  }
  &__imglogo {
    max-height: 300px;
    width: 350px;
  }
  &__img {
    max-height: 50px;
    margin-right: 50px;
  }

  &__actions {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    gap: 24px;

    & > div {
      display: flex;
    }
  }
  &__button {
    width: 65px;
    height: 65px;
    border-radius: 50%;
  }
}
