.card {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 15px;
  border: 2px solid #e4e4e4;
  border-radius: 10px;
  background-color: #fff;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-color: #007bff;
  }

  &__wrapper {
    display: block;
    text-align: center;
    width: 100%;
  }

  &__image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
  }

  &__title {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
  }

  &__type {
    color: #888;
    margin-bottom: 10px;
  }

  &__lower {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0;
    gap: 32px;
  }

  &__price {
    font-size: 18px;
    font-weight: bold;
    flex-shrink: 0;
  }

  &__button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: #6c757d;
    }
  }
}
